@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/utils/_variables";
@import "~buefy/src/scss/components/_dropdown";
@import "~buefy/src/scss/components/_modal";
@import "~buefy/src/scss/components/_dialog";
@import "~buefy/src/scss/components/_radio";

@import './reset';
@import './font';

.button.is-primary {
  background: $blue-1;
  &:hover {
    background: $blue-1;
    opacity: 0.9;
  }
}
