@import './reset';
@import './font';

.text-container.with-bubbles {
  padding: 0;
  max-width: 48rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .group {
    width: 100%;
    @media (min-width: 800px) {
      width: 50%;
    }
  }
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    width: 112px;
    height: 135px;
  }
  &:before {
    top: 4rem;
    left: -4rem;
    background-image: url('../images/scene_15.svg');
  }
  &:after {
    bottom: 8rem;
    right: -4rem;
    background-image: url('../images/scene_14.svg');
    transform: rotate(180deg);
  }
}
